step_function_template.json
{
  "Comment": "Run ODIN",
  "StartAt": "RunContainers",
  "States": {
    "RunContainers": {
      "Type": "Parallel",
      "Next": "NotifySuccess",
      "ResultPath":"$.:1",
      "Retry": [
        {
          "ErrorEquals": [
            "ECS.AmazonECSException"
          ],
          "IntervalSeconds": 1,
          "BackoffRate": 1,
          "MaxAttempts": 50
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "NotifyFailure"
        }
      ],
      "Branches": [
        INSERT_ECS_TASK_BRANCHES_HERE
      ]
    },
    "NotifySuccess": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "Message": "ODIN Fargate Task started by Step Functions succeeded",
        "TopicArn": "arn:aws:sns:us-east-1:056149205531:OdinExecutionStatus"
      },
      "End": true
    },
    "NotifyFailure": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "Message": "ODIN Fargate Task started by Step Functions failed",
        "TopicArn": "arn:aws:sns:us-east-1:056149205531:OdinExecutionStatus"
      },
      "End": true
    }
  }
}