step_function_1588602572884.json
{
  "Comment": "Run ODIN",
  "StartAt": "RunContainers",
  "States": {
    "RunContainers": {
      "Type": "Parallel",
      "Next": "NotifySuccess",
      "ResultPath":"$.:1",
      "Retry": [
        {
          "ErrorEquals": [
            "ECS.AmazonECSException"
          ],
          "IntervalSeconds": 1,
          "BackoffRate": 1,
          "MaxAttempts": 50
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "NotifyFailure"
        }
      ],
      "Branches": [
         {
          "StartAt": "Run-X-0-40",
          "States": {
            "Run-X-0-40": {
              "Type": "Task",
              "End": true,
              "Resource": "arn:aws:states:::ecs:runTask.sync",
              "Parameters": {
                "LaunchType": "FARGATE",
                "Cluster": "arn:aws:ecs:us-east-1:056149205531:cluster/default",
                "TaskDefinition": "arn:aws:ecs:us-east-1:056149205531:task-definition/Odin:2",
                "NetworkConfiguration": {
                  "AwsvpcConfiguration": {
                    "Subnets": [
                      "subnet-0687c1a621d137214","subnet-0a12ffad9415ace69","subnet-095ae92763f88998d","subnet-061b687a4b2ddf12f","subnet-06c8f5f4eb68171bd","subnet-0a568b9e516861458"

                    ],
                    "AssignPublicIp": "ENABLED"
                  }
                },
                "Overrides": {
                  "ContainerOverrides": [
                    {
                      "Name": "odin",
                      "Command": [
                        "1 handtools-mini X 40 job_1588602572884_1 0"
                      ]
                    }
                  ]
                }
              }
            }
          }
        }, {
          "StartAt": "Run-X-41-80",
          "States": {
            "Run-X-41-80": {
              "Type": "Task",
              "End": true,
              "Resource": "arn:aws:states:::ecs:runTask.sync",
              "Parameters": {
                "LaunchType": "FARGATE",
                "Cluster": "arn:aws:ecs:us-east-1:056149205531:cluster/default",
                "TaskDefinition": "arn:aws:ecs:us-east-1:056149205531:task-definition/Odin:2",
                "NetworkConfiguration": {
                  "AwsvpcConfiguration": {
                    "Subnets": [
                      "subnet-0687c1a621d137214","subnet-0a12ffad9415ace69","subnet-095ae92763f88998d","subnet-061b687a4b2ddf12f","subnet-06c8f5f4eb68171bd","subnet-0a568b9e516861458"

                    ],
                    "AssignPublicIp": "ENABLED"
                  }
                },
                "Overrides": {
                  "ContainerOverrides": [
                    {
                      "Name": "odin",
                      "Command": [
                        "1 handtools-mini X 80 job_1588602572884_1 41"
                      ]
                    }
                  ]
                }
              }
            }
          }
        }, {
          "StartAt": "Run-X-81-120",
          "States": {
            "Run-X-81-120": {
              "Type": "Task",
              "End": true,
              "Resource": "arn:aws:states:::ecs:runTask.sync",
              "Parameters": {
                "LaunchType": "FARGATE",
                "Cluster": "arn:aws:ecs:us-east-1:056149205531:cluster/default",
                "TaskDefinition": "arn:aws:ecs:us-east-1:056149205531:task-definition/Odin:2",
                "NetworkConfiguration": {
                  "AwsvpcConfiguration": {
                    "Subnets": [
                      "subnet-0687c1a621d137214","subnet-0a12ffad9415ace69","subnet-095ae92763f88998d","subnet-061b687a4b2ddf12f","subnet-06c8f5f4eb68171bd","subnet-0a568b9e516861458"

                    ],
                    "AssignPublicIp": "ENABLED"
                  }
                },
                "Overrides": {
                  "ContainerOverrides": [
                    {
                      "Name": "odin",
                      "Command": [
                        "1 handtools-mini X 120 job_1588602572884_1 81"
                      ]
                    }
                  ]
                }
              }
            }
          }
        }, {
          "StartAt": "Run-X-121-160",
          "States": {
            "Run-X-121-160": {
              "Type": "Task",
              "End": true,
              "Resource": "arn:aws:states:::ecs:runTask.sync",
              "Parameters": {
                "LaunchType": "FARGATE",
                "Cluster": "arn:aws:ecs:us-east-1:056149205531:cluster/default",
                "TaskDefinition": "arn:aws:ecs:us-east-1:056149205531:task-definition/Odin:2",
                "NetworkConfiguration": {
                  "AwsvpcConfiguration": {
                    "Subnets": [
                      "subnet-0687c1a621d137214","subnet-0a12ffad9415ace69","subnet-095ae92763f88998d","subnet-061b687a4b2ddf12f","subnet-06c8f5f4eb68171bd","subnet-0a568b9e516861458"

                    ],
                    "AssignPublicIp": "ENABLED"
                  }
                },
                "Overrides": {
                  "ContainerOverrides": [
                    {
                      "Name": "odin",
                      "Command": [
                        "1 handtools-mini X 160 job_1588602572884_1 121"
                      ]
                    }
                  ]
                }
              }
            }
          }
        }, {
          "StartAt": "Run-X-161-200",
          "States": {
            "Run-X-161-200": {
              "Type": "Task",
              "End": true,
              "Resource": "arn:aws:states:::ecs:runTask.sync",
              "Parameters": {
                "LaunchType": "FARGATE",
                "Cluster": "arn:aws:ecs:us-east-1:056149205531:cluster/default",
                "TaskDefinition": "arn:aws:ecs:us-east-1:056149205531:task-definition/Odin:2",
                "NetworkConfiguration": {
                  "AwsvpcConfiguration": {
                    "Subnets": [
                      "subnet-0687c1a621d137214","subnet-0a12ffad9415ace69","subnet-095ae92763f88998d","subnet-061b687a4b2ddf12f","subnet-06c8f5f4eb68171bd","subnet-0a568b9e516861458"

                    ],
                    "AssignPublicIp": "ENABLED"
                  }
                },
                "Overrides": {
                  "ContainerOverrides": [
                    {
                      "Name": "odin",
                      "Command": [
                        "1 handtools-mini X 200 job_1588602572884_1 161"
                      ]
                    }
                  ]
                }
              }
            }
          }
        }, {
          "StartAt": "Run-X-201-240",
          "States": {
            "Run-X-201-240": {
              "Type": "Task",
              "End": true,
              "Resource": "arn:aws:states:::ecs:runTask.sync",
              "Parameters": {
                "LaunchType": "FARGATE",
                "Cluster": "arn:aws:ecs:us-east-1:056149205531:cluster/default",
                "TaskDefinition": "arn:aws:ecs:us-east-1:056149205531:task-definition/Odin:2",
                "NetworkConfiguration": {
                  "AwsvpcConfiguration": {
                    "Subnets": [
                      "subnet-0687c1a621d137214","subnet-0a12ffad9415ace69","subnet-095ae92763f88998d","subnet-061b687a4b2ddf12f","subnet-06c8f5f4eb68171bd","subnet-0a568b9e516861458"

                    ],
                    "AssignPublicIp": "ENABLED"
                  }
                },
                "Overrides": {
                  "ContainerOverrides": [
                    {
                      "Name": "odin",
                      "Command": [
                        "1 handtools-mini X 240 job_1588602572884_1 201"
                      ]
                    }
                  ]
                }
              }
            }
          }
        }, {
          "StartAt": "Run-X-241-280",
          "States": {
            "Run-X-241-280": {
              "Type": "Task",
              "End": true,
              "Resource": "arn:aws:states:::ecs:runTask.sync",
              "Parameters": {
                "LaunchType": "FARGATE",
                "Cluster": "arn:aws:ecs:us-east-1:056149205531:cluster/default",
                "TaskDefinition": "arn:aws:ecs:us-east-1:056149205531:task-definition/Odin:2",
                "NetworkConfiguration": {
                  "AwsvpcConfiguration": {
                    "Subnets": [
                      "subnet-0687c1a621d137214","subnet-0a12ffad9415ace69","subnet-095ae92763f88998d","subnet-061b687a4b2ddf12f","subnet-06c8f5f4eb68171bd","subnet-0a568b9e516861458"

                    ],
                    "AssignPublicIp": "ENABLED"
                  }
                },
                "Overrides": {
                  "ContainerOverrides": [
                    {
                      "Name": "odin",
                      "Command": [
                        "1 handtools-mini X 280 job_1588602572884_1 241"
                      ]
                    }
                  ]
                }
              }
            }
          }
        }, {
          "StartAt": "Run-X-281-320",
          "States": {
            "Run-X-281-320": {
              "Type": "Task",
              "End": true,
              "Resource": "arn:aws:states:::ecs:runTask.sync",
              "Parameters": {
                "LaunchType": "FARGATE",
                "Cluster": "arn:aws:ecs:us-east-1:056149205531:cluster/default",
                "TaskDefinition": "arn:aws:ecs:us-east-1:056149205531:task-definition/Odin:2",
                "NetworkConfiguration": {
                  "AwsvpcConfiguration": {
                    "Subnets": [
                      "subnet-0687c1a621d137214","subnet-0a12ffad9415ace69","subnet-095ae92763f88998d","subnet-061b687a4b2ddf12f","subnet-06c8f5f4eb68171bd","subnet-0a568b9e516861458"

                    ],
                    "AssignPublicIp": "ENABLED"
                  }
                },
                "Overrides": {
                  "ContainerOverrides": [
                    {
                      "Name": "odin",
                      "Command": [
                        "1 handtools-mini X 320 job_1588602572884_1 281"
                      ]
                    }
                  ]
                }
              }
            }
          }
        }, {
          "StartAt": "Run-X-321-360",
          "States": {
            "Run-X-321-360": {
              "Type": "Task",
              "End": true,
              "Resource": "arn:aws:states:::ecs:runTask.sync",
              "Parameters": {
                "LaunchType": "FARGATE",
                "Cluster": "arn:aws:ecs:us-east-1:056149205531:cluster/default",
                "TaskDefinition": "arn:aws:ecs:us-east-1:056149205531:task-definition/Odin:2",
                "NetworkConfiguration": {
                  "AwsvpcConfiguration": {
                    "Subnets": [
                      "subnet-0687c1a621d137214","subnet-0a12ffad9415ace69","subnet-095ae92763f88998d","subnet-061b687a4b2ddf12f","subnet-06c8f5f4eb68171bd","subnet-0a568b9e516861458"

                    ],
                    "AssignPublicIp": "ENABLED"
                  }
                },
                "Overrides": {
                  "ContainerOverrides": [
                    {
                      "Name": "odin",
                      "Command": [
                        "1 handtools-mini X 360 job_1588602572884_1 321"
                      ]
                    }
                  ]
                }
              }
            }
          }
        }, {
          "StartAt": "Run-Y-0-40",
          "States": {
            "Run-Y-0-40": {
              "Type": "Task",
              "End": true,
              "Resource": "arn:aws:states:::ecs:runTask.sync",
              "Parameters": {
                "LaunchType": "FARGATE",
                "Cluster": "arn:aws:ecs:us-east-1:056149205531:cluster/default",
                "TaskDefinition": "arn:aws:ecs:us-east-1:056149205531:task-definition/Odin:2",
                "NetworkConfiguration": {
                  "AwsvpcConfiguration": {
                    "Subnets": [
                      "subnet-0687c1a621d137214","subnet-0a12ffad9415ace69","subnet-095ae92763f88998d","subnet-061b687a4b2ddf12f","subnet-06c8f5f4eb68171bd","subnet-0a568b9e516861458"

                    ],
                    "AssignPublicIp": "ENABLED"
                  }
                },
                "Overrides": {
                  "ContainerOverrides": [
                    {
                      "Name": "odin",
                      "Command": [
                        "1 handtools-mini Y 40 job_1588602572884_1 0"
                      ]
                    }
                  ]
                }
              }
            }
          }
        }, {
          "StartAt": "Run-Y-41-80",
          "States": {
            "Run-Y-41-80": {
              "Type": "Task",
              "End": true,
              "Resource": "arn:aws:states:::ecs:runTask.sync",
              "Parameters": {
                "LaunchType": "FARGATE",
                "Cluster": "arn:aws:ecs:us-east-1:056149205531:cluster/default",
                "TaskDefinition": "arn:aws:ecs:us-east-1:056149205531:task-definition/Odin:2",
                "NetworkConfiguration": {
                  "AwsvpcConfiguration": {
                    "Subnets": [
                      "subnet-0687c1a621d137214","subnet-0a12ffad9415ace69","subnet-095ae92763f88998d","subnet-061b687a4b2ddf12f","subnet-06c8f5f4eb68171bd","subnet-0a568b9e516861458"

                    ],
                    "AssignPublicIp": "ENABLED"
                  }
                },
                "Overrides": {
                  "ContainerOverrides": [
                    {
                      "Name": "odin",
                      "Command": [
                        "1 handtools-mini Y 80 job_1588602572884_1 41"
                      ]
                    }
                  ]
                }
              }
            }
          }
        }, {
          "StartAt": "Run-Y-81-120",
          "States": {
            "Run-Y-81-120": {
              "Type": "Task",
              "End": true,
              "Resource": "arn:aws:states:::ecs:runTask.sync",
              "Parameters": {
                "LaunchType": "FARGATE",
                "Cluster": "arn:aws:ecs:us-east-1:056149205531:cluster/default",
                "TaskDefinition": "arn:aws:ecs:us-east-1:056149205531:task-definition/Odin:2",
                "NetworkConfiguration": {
                  "AwsvpcConfiguration": {
                    "Subnets": [
                      "subnet-0687c1a621d137214","subnet-0a12ffad9415ace69","subnet-095ae92763f88998d","subnet-061b687a4b2ddf12f","subnet-06c8f5f4eb68171bd","subnet-0a568b9e516861458"

                    ],
                    "AssignPublicIp": "ENABLED"
                  }
                },
                "Overrides": {
                  "ContainerOverrides": [
                    {
                      "Name": "odin",
                      "Command": [
                        "1 handtools-mini Y 120 job_1588602572884_1 81"
                      ]
                    }
                  ]
                }
              }
            }
          }
        }, {
          "StartAt": "Run-Y-121-160",
          "States": {
            "Run-Y-121-160": {
              "Type": "Task",
              "End": true,
              "Resource": "arn:aws:states:::ecs:runTask.sync",
              "Parameters": {
                "LaunchType": "FARGATE",
                "Cluster": "arn:aws:ecs:us-east-1:056149205531:cluster/default",
                "TaskDefinition": "arn:aws:ecs:us-east-1:056149205531:task-definition/Odin:2",
                "NetworkConfiguration": {
                  "AwsvpcConfiguration": {
                    "Subnets": [
                      "subnet-0687c1a621d137214","subnet-0a12ffad9415ace69","subnet-095ae92763f88998d","subnet-061b687a4b2ddf12f","subnet-06c8f5f4eb68171bd","subnet-0a568b9e516861458"

                    ],
                    "AssignPublicIp": "ENABLED"
                  }
                },
                "Overrides": {
                  "ContainerOverrides": [
                    {
                      "Name": "odin",
                      "Command": [
                        "1 handtools-mini Y 160 job_1588602572884_1 121"
                      ]
                    }
                  ]
                }
              }
            }
          }
        }, {
          "StartAt": "Run-Y-161-200",
          "States": {
            "Run-Y-161-200": {
              "Type": "Task",
              "End": true,
              "Resource": "arn:aws:states:::ecs:runTask.sync",
              "Parameters": {
                "LaunchType": "FARGATE",
                "Cluster": "arn:aws:ecs:us-east-1:056149205531:cluster/default",
                "TaskDefinition": "arn:aws:ecs:us-east-1:056149205531:task-definition/Odin:2",
                "NetworkConfiguration": {
                  "AwsvpcConfiguration": {
                    "Subnets": [
                      "subnet-0687c1a621d137214","subnet-0a12ffad9415ace69","subnet-095ae92763f88998d","subnet-061b687a4b2ddf12f","subnet-06c8f5f4eb68171bd","subnet-0a568b9e516861458"

                    ],
                    "AssignPublicIp": "ENABLED"
                  }
                },
                "Overrides": {
                  "ContainerOverrides": [
                    {
                      "Name": "odin",
                      "Command": [
                        "1 handtools-mini Y 200 job_1588602572884_1 161"
                      ]
                    }
                  ]
                }
              }
            }
          }
        }, {
          "StartAt": "Run-Y-201-240",
          "States": {
            "Run-Y-201-240": {
              "Type": "Task",
              "End": true,
              "Resource": "arn:aws:states:::ecs:runTask.sync",
              "Parameters": {
                "LaunchType": "FARGATE",
                "Cluster": "arn:aws:ecs:us-east-1:056149205531:cluster/default",
                "TaskDefinition": "arn:aws:ecs:us-east-1:056149205531:task-definition/Odin:2",
                "NetworkConfiguration": {
                  "AwsvpcConfiguration": {
                    "Subnets": [
                      "subnet-0687c1a621d137214","subnet-0a12ffad9415ace69","subnet-095ae92763f88998d","subnet-061b687a4b2ddf12f","subnet-06c8f5f4eb68171bd","subnet-0a568b9e516861458"

                    ],
                    "AssignPublicIp": "ENABLED"
                  }
                },
                "Overrides": {
                  "ContainerOverrides": [
                    {
                      "Name": "odin",
                      "Command": [
                        "1 handtools-mini Y 240 job_1588602572884_1 201"
                      ]
                    }
                  ]
                }
              }
            }
          }
        }, {
          "StartAt": "Run-Y-241-280",
          "States": {
            "Run-Y-241-280": {
              "Type": "Task",
              "End": true,
              "Resource": "arn:aws:states:::ecs:runTask.sync",
              "Parameters": {
                "LaunchType": "FARGATE",
                "Cluster": "arn:aws:ecs:us-east-1:056149205531:cluster/default",
                "TaskDefinition": "arn:aws:ecs:us-east-1:056149205531:task-definition/Odin:2",
                "NetworkConfiguration": {
                  "AwsvpcConfiguration": {
                    "Subnets": [
                      "subnet-0687c1a621d137214","subnet-0a12ffad9415ace69","subnet-095ae92763f88998d","subnet-061b687a4b2ddf12f","subnet-06c8f5f4eb68171bd","subnet-0a568b9e516861458"

                    ],
                    "AssignPublicIp": "ENABLED"
                  }
                },
                "Overrides": {
                  "ContainerOverrides": [
                    {
                      "Name": "odin",
                      "Command": [
                        "1 handtools-mini Y 280 job_1588602572884_1 241"
                      ]
                    }
                  ]
                }
              }
            }
          }
        }, {
          "StartAt": "Run-Y-281-320",
          "States": {
            "Run-Y-281-320": {
              "Type": "Task",
              "End": true,
              "Resource": "arn:aws:states:::ecs:runTask.sync",
              "Parameters": {
                "LaunchType": "FARGATE",
                "Cluster": "arn:aws:ecs:us-east-1:056149205531:cluster/default",
                "TaskDefinition": "arn:aws:ecs:us-east-1:056149205531:task-definition/Odin:2",
                "NetworkConfiguration": {
                  "AwsvpcConfiguration": {
                    "Subnets": [
                      "subnet-0687c1a621d137214","subnet-0a12ffad9415ace69","subnet-095ae92763f88998d","subnet-061b687a4b2ddf12f","subnet-06c8f5f4eb68171bd","subnet-0a568b9e516861458"

                    ],
                    "AssignPublicIp": "ENABLED"
                  }
                },
                "Overrides": {
                  "ContainerOverrides": [
                    {
                      "Name": "odin",
                      "Command": [
                        "1 handtools-mini Y 320 job_1588602572884_1 281"
                      ]
                    }
                  ]
                }
              }
            }
          }
        }, {
          "StartAt": "Run-Y-321-360",
          "States": {
            "Run-Y-321-360": {
              "Type": "Task",
              "End": true,
              "Resource": "arn:aws:states:::ecs:runTask.sync",
              "Parameters": {
                "LaunchType": "FARGATE",
                "Cluster": "arn:aws:ecs:us-east-1:056149205531:cluster/default",
                "TaskDefinition": "arn:aws:ecs:us-east-1:056149205531:task-definition/Odin:2",
                "NetworkConfiguration": {
                  "AwsvpcConfiguration": {
                    "Subnets": [
                      "subnet-0687c1a621d137214","subnet-0a12ffad9415ace69","subnet-095ae92763f88998d","subnet-061b687a4b2ddf12f","subnet-06c8f5f4eb68171bd","subnet-0a568b9e516861458"

                    ],
                    "AssignPublicIp": "ENABLED"
                  }
                },
                "Overrides": {
                  "ContainerOverrides": [
                    {
                      "Name": "odin",
                      "Command": [
                        "1 handtools-mini Y 360 job_1588602572884_1 321"
                      ]
                    }
                  ]
                }
              }
            }
          }
        }, {
          "StartAt": "Run-Z-0-40",
          "States": {
            "Run-Z-0-40": {
              "Type": "Task",
              "End": true,
              "Resource": "arn:aws:states:::ecs:runTask.sync",
              "Parameters": {
                "LaunchType": "FARGATE",
                "Cluster": "arn:aws:ecs:us-east-1:056149205531:cluster/default",
                "TaskDefinition": "arn:aws:ecs:us-east-1:056149205531:task-definition/Odin:2",
                "NetworkConfiguration": {
                  "AwsvpcConfiguration": {
                    "Subnets": [
                      "subnet-0687c1a621d137214","subnet-0a12ffad9415ace69","subnet-095ae92763f88998d","subnet-061b687a4b2ddf12f","subnet-06c8f5f4eb68171bd","subnet-0a568b9e516861458"

                    ],
                    "AssignPublicIp": "ENABLED"
                  }
                },
                "Overrides": {
                  "ContainerOverrides": [
                    {
                      "Name": "odin",
                      "Command": [
                        "1 handtools-mini Z 40 job_1588602572884_1 0"
                      ]
                    }
                  ]
                }
              }
            }
          }
        }, {
          "StartAt": "Run-Z-41-80",
          "States": {
            "Run-Z-41-80": {
              "Type": "Task",
              "End": true,
              "Resource": "arn:aws:states:::ecs:runTask.sync",
              "Parameters": {
                "LaunchType": "FARGATE",
                "Cluster": "arn:aws:ecs:us-east-1:056149205531:cluster/default",
                "TaskDefinition": "arn:aws:ecs:us-east-1:056149205531:task-definition/Odin:2",
                "NetworkConfiguration": {
                  "AwsvpcConfiguration": {
                    "Subnets": [
                      "subnet-0687c1a621d137214","subnet-0a12ffad9415ace69","subnet-095ae92763f88998d","subnet-061b687a4b2ddf12f","subnet-06c8f5f4eb68171bd","subnet-0a568b9e516861458"

                    ],
                    "AssignPublicIp": "ENABLED"
                  }
                },
                "Overrides": {
                  "ContainerOverrides": [
                    {
                      "Name": "odin",
                      "Command": [
                        "1 handtools-mini Z 80 job_1588602572884_1 41"
                      ]
                    }
                  ]
                }
              }
            }
          }
        }, {
          "StartAt": "Run-Z-81-120",
          "States": {
            "Run-Z-81-120": {
              "Type": "Task",
              "End": true,
              "Resource": "arn:aws:states:::ecs:runTask.sync",
              "Parameters": {
                "LaunchType": "FARGATE",
                "Cluster": "arn:aws:ecs:us-east-1:056149205531:cluster/default",
                "TaskDefinition": "arn:aws:ecs:us-east-1:056149205531:task-definition/Odin:2",
                "NetworkConfiguration": {
                  "AwsvpcConfiguration": {
                    "Subnets": [
                      "subnet-0687c1a621d137214","subnet-0a12ffad9415ace69","subnet-095ae92763f88998d","subnet-061b687a4b2ddf12f","subnet-06c8f5f4eb68171bd","subnet-0a568b9e516861458"

                    ],
                    "AssignPublicIp": "ENABLED"
                  }
                },
                "Overrides": {
                  "ContainerOverrides": [
                    {
                      "Name": "odin",
                      "Command": [
                        "1 handtools-mini Z 120 job_1588602572884_1 81"
                      ]
                    }
                  ]
                }
              }
            }
          }
        }, {
          "StartAt": "Run-Z-121-160",
          "States": {
            "Run-Z-121-160": {
              "Type": "Task",
              "End": true,
              "Resource": "arn:aws:states:::ecs:runTask.sync",
              "Parameters": {
                "LaunchType": "FARGATE",
                "Cluster": "arn:aws:ecs:us-east-1:056149205531:cluster/default",
                "TaskDefinition": "arn:aws:ecs:us-east-1:056149205531:task-definition/Odin:2",
                "NetworkConfiguration": {
                  "AwsvpcConfiguration": {
                    "Subnets": [
                      "subnet-0687c1a621d137214","subnet-0a12ffad9415ace69","subnet-095ae92763f88998d","subnet-061b687a4b2ddf12f","subnet-06c8f5f4eb68171bd","subnet-0a568b9e516861458"

                    ],
                    "AssignPublicIp": "ENABLED"
                  }
                },
                "Overrides": {
                  "ContainerOverrides": [
                    {
                      "Name": "odin",
                      "Command": [
                        "1 handtools-mini Z 160 job_1588602572884_1 121"
                      ]
                    }
                  ]
                }
              }
            }
          }
        }, {
          "StartAt": "Run-Z-161-200",
          "States": {
            "Run-Z-161-200": {
              "Type": "Task",
              "End": true,
              "Resource": "arn:aws:states:::ecs:runTask.sync",
              "Parameters": {
                "LaunchType": "FARGATE",
                "Cluster": "arn:aws:ecs:us-east-1:056149205531:cluster/default",
                "TaskDefinition": "arn:aws:ecs:us-east-1:056149205531:task-definition/Odin:2",
                "NetworkConfiguration": {
                  "AwsvpcConfiguration": {
                    "Subnets": [
                      "subnet-0687c1a621d137214","subnet-0a12ffad9415ace69","subnet-095ae92763f88998d","subnet-061b687a4b2ddf12f","subnet-06c8f5f4eb68171bd","subnet-0a568b9e516861458"

                    ],
                    "AssignPublicIp": "ENABLED"
                  }
                },
                "Overrides": {
                  "ContainerOverrides": [
                    {
                      "Name": "odin",
                      "Command": [
                        "1 handtools-mini Z 200 job_1588602572884_1 161"
                      ]
                    }
                  ]
                }
              }
            }
          }
        }, {
          "StartAt": "Run-Z-201-240",
          "States": {
            "Run-Z-201-240": {
              "Type": "Task",
              "End": true,
              "Resource": "arn:aws:states:::ecs:runTask.sync",
              "Parameters": {
                "LaunchType": "FARGATE",
                "Cluster": "arn:aws:ecs:us-east-1:056149205531:cluster/default",
                "TaskDefinition": "arn:aws:ecs:us-east-1:056149205531:task-definition/Odin:2",
                "NetworkConfiguration": {
                  "AwsvpcConfiguration": {
                    "Subnets": [
                      "subnet-0687c1a621d137214","subnet-0a12ffad9415ace69","subnet-095ae92763f88998d","subnet-061b687a4b2ddf12f","subnet-06c8f5f4eb68171bd","subnet-0a568b9e516861458"

                    ],
                    "AssignPublicIp": "ENABLED"
                  }
                },
                "Overrides": {
                  "ContainerOverrides": [
                    {
                      "Name": "odin",
                      "Command": [
                        "1 handtools-mini Z 240 job_1588602572884_1 201"
                      ]
                    }
                  ]
                }
              }
            }
          }
        }, {
          "StartAt": "Run-Z-241-280",
          "States": {
            "Run-Z-241-280": {
              "Type": "Task",
              "End": true,
              "Resource": "arn:aws:states:::ecs:runTask.sync",
              "Parameters": {
                "LaunchType": "FARGATE",
                "Cluster": "arn:aws:ecs:us-east-1:056149205531:cluster/default",
                "TaskDefinition": "arn:aws:ecs:us-east-1:056149205531:task-definition/Odin:2",
                "NetworkConfiguration": {
                  "AwsvpcConfiguration": {
                    "Subnets": [
                      "subnet-0687c1a621d137214","subnet-0a12ffad9415ace69","subnet-095ae92763f88998d","subnet-061b687a4b2ddf12f","subnet-06c8f5f4eb68171bd","subnet-0a568b9e516861458"

                    ],
                    "AssignPublicIp": "ENABLED"
                  }
                },
                "Overrides": {
                  "ContainerOverrides": [
                    {
                      "Name": "odin",
                      "Command": [
                        "1 handtools-mini Z 280 job_1588602572884_1 241"
                      ]
                    }
                  ]
                }
              }
            }
          }
        }, {
          "StartAt": "Run-Z-281-320",
          "States": {
            "Run-Z-281-320": {
              "Type": "Task",
              "End": true,
              "Resource": "arn:aws:states:::ecs:runTask.sync",
              "Parameters": {
                "LaunchType": "FARGATE",
                "Cluster": "arn:aws:ecs:us-east-1:056149205531:cluster/default",
                "TaskDefinition": "arn:aws:ecs:us-east-1:056149205531:task-definition/Odin:2",
                "NetworkConfiguration": {
                  "AwsvpcConfiguration": {
                    "Subnets": [
                      "subnet-0687c1a621d137214","subnet-0a12ffad9415ace69","subnet-095ae92763f88998d","subnet-061b687a4b2ddf12f","subnet-06c8f5f4eb68171bd","subnet-0a568b9e516861458"

                    ],
                    "AssignPublicIp": "ENABLED"
                  }
                },
                "Overrides": {
                  "ContainerOverrides": [
                    {
                      "Name": "odin",
                      "Command": [
                        "1 handtools-mini Z 320 job_1588602572884_1 281"
                      ]
                    }
                  ]
                }
              }
            }
          }
        }, {
          "StartAt": "Run-Z-321-360",
          "States": {
            "Run-Z-321-360": {
              "Type": "Task",
              "End": true,
              "Resource": "arn:aws:states:::ecs:runTask.sync",
              "Parameters": {
                "LaunchType": "FARGATE",
                "Cluster": "arn:aws:ecs:us-east-1:056149205531:cluster/default",
                "TaskDefinition": "arn:aws:ecs:us-east-1:056149205531:task-definition/Odin:2",
                "NetworkConfiguration": {
                  "AwsvpcConfiguration": {
                    "Subnets": [
                      "subnet-0687c1a621d137214","subnet-0a12ffad9415ace69","subnet-095ae92763f88998d","subnet-061b687a4b2ddf12f","subnet-06c8f5f4eb68171bd","subnet-0a568b9e516861458"

                    ],
                    "AssignPublicIp": "ENABLED"
                  }
                },
                "Overrides": {
                  "ContainerOverrides": [
                    {
                      "Name": "odin",
                      "Command": [
                        "1 handtools-mini Z 360 job_1588602572884_1 321"
                      ]
                    }
                  ]
                }
              }
            }
          }
        }
      ]
    },
    "NotifySuccess": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "Message": "ODIN Fargate Task started by Step Functions succeeded",
        "TopicArn": "arn:aws:sns:us-east-1:056149205531:OdinExecutionStatus"
      },
      "End": true
    },
    "NotifyFailure": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "Message": "ODIN Fargate Task started by Step Functions failed",
        "TopicArn": "arn:aws:sns:us-east-1:056149205531:OdinExecutionStatus"
      },
      "End": true
    }
  }
}